<!doctype html>
<html>
  <head>
    <title>PETS IN HATS!</title>
  </head>
  
  <body>
    <h1> Get ready to see an animal wearing a hat:)</h1>
 
  #FORM METHOD GOES HERE
  <form method="POST">
    <h4>CHOOSE AN ANIMAL:</h4>
    <br>
    <input type="radio" name="user_animal" value="dog">Dog<br>
    <input type="radio" name="user_animal" value="cat">Cat<br>
    <h4>CHOOSE A HAT</h4>
    <br>
    <input type="radio" name="user_hat" value="party-hat">Party Hat<br>
    <input type="radio" name="user_hat" value="baseball-hat">Baseball Hat<br>
    <input type="radio" name="user_hat" value="santa-hat">Santa Hat<br>
    <input type="submit" value="Show me the animals in the cute hats!!">
  </form>
   </body>
  #we need an option for the pets (dog, cat)
  #we need an option for type of party hat (party hat, baseball hat, santa hat)
</html>