#THIS WILL DISPLAY THE IMAGE OF THE ANIMAL IN THE HAT
<html>
  <head>
    <title>RESULTS!!!</title>
  </head>
  
  <body>
    <h1>Lets see yo cute animal!</h1>
    <img src= "<%=animal_pic%>"/>
  </body>  
</html>